.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.body {
  min-height: 100vh;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cards {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
 
}

.empty-card {
  margin-top: 1rem;
  width: 6rem;
  height: 10rem;
  background-color: grey;
}

.occupied-card {
  margin-top: 1rem;
  width: 6rem;
  height: 10rem;
  background-color: green;
}

.left {
  float: left;
}

.right {
  float: right;
}

.sample-empty {
  width: 5rem;
  background-color: grey;
  float: right;
}

.link {
  color: white;
}